
/* .left .right{
    position: relative;
    bottom: 0px;
    left: 0px;
} */
.dogs{
    display:flex;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
}

nav .logo a {
    color: black;
    font-size: 25px;
    margin-left: 10px;
    text-decoration: none;
}

nav .nav-links a {
background-color: white;
box-shadow: 0 0 0 transparent;
color: black;
padding: 0 3px;
text-decoration: none;
transition: all 0.2s ease-out;
}

nav .nav-links a:hover {
background-color: red;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
transform: scale(1.1, 1.1);
}

.nav-links {
margin-right: 20px;
}

nav li {
height: 48px;
}

nav ul {
list-style: none;
}

nav {
background-color: white;
height: 48px;
}

body {
background-color: #eee;
}

.content {
background-color: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
margin: 20px auto;
width: 100%;
text-align: center;
}

.content ul {
margin: 10px 10px;
}

nav, nav ul, nav li, nav .logo, nav .logo a, nav .nav-links a {
display: flex;
}

nav .logo a, nav .nav-links a {
align-items: center;
}

nav {
justify-content: space-between;
}


figcaption{
    display: flex;
    justify-content: center;
    align-content: center;
}

.masterclass{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

div#test{ 
    border:#5AB029 3px solid; 
    padding:10px 40px 40px 40px; 
    background-color:#E5FCE3;
    text-align: center;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

body{
    background-color:lightcoral;
    margin: 0px 150px 150px 150px;
    padding: 10px;

}

caption{
    text-align: center
}

h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: navy;
    box-shadow: 0px 0px 9px navy
}

h1{
    display: flex;
    justify-content: center;
    font-size: 70px;
    background-color: white;
    margin: 0px 0px 0px 0px;
    color: navy;
    border-style: solid;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: white;
    margin: 0px 0px 0px 0px;
    color: navy;
}


table{
    border-width: 5px;
    border-style: dashed;
    border-color: black;
    display: flex;
    justify-content: center;
}

img{
    height: 45%;
    max-height: 350px;
    min-height: 300px;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-content: center; */
    padding: 20px;
}

figure img:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
    cursor: pointer;
}

#subject{
    height: 170px;
}

@media screen and (min-width: 500px) and 
    (max-width: 998px)
{
    body{
        background-color:lightcoral;
        margin: 0px 50px 50px 50px;
        padding: 10px;
    }
    img{
        height: 150px;
        width: 100%;
        /* display: flex;
        justify-content: center;
        align-content: center; */
        padding: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 499px)
{
    .masterclass {
        width: 100%;
    }

    body{
        margin: 0px 50px 50px 50px;
        padding: 10px;
    }

    img{
        height: 10px;
        width: 300px;
        flex-wrap: wrap;
        padding: 20px;
    }
}
